<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/admin/assets/favicon.ico" type="image/x-icon">
<title>Admin Panel</title>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

<!-- CSS -->
<link rel="stylesheet" href="/admin/assets/css/app.min.css">

<link rel="stylesheet" href="/admin/assets/css/style.css">