<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      /* background: linear-gradient(to right, #F869D5, #5650DE); */
      background: linear-gradient(to right, #DCDCDC, #FFFFFF);
      color: #ffffff;
      height: 100vh;
    }
    .logo {
      max-width: 100%;
      height: auto;
      animation: fadeInUp 1s ease-out;
    }
    .tagline {
        margin-top: -30px;
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

  </style>
  <title>E-Team Building - SM</title>
</head>
<body>
  <div class="container text-center d-flex justify-content-center align-items-center flex-column h-100">
    <a href="/admin/login">
      <img src="/admin/assets/img/logo/logo.png" alt="E-Team Building" class="logo"> <br>
    </a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
